._table_vmbq9_1 {
  .css-16253fi-MuiTablePagination-root {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .css-1omuo8w-MuiToolbar-root {
    display: flex !important;
    flex-wrap: nowrap !important;
    justify-content: space-between !important;
    align-items: center !important;
  }

  .css-sq9qdz {
    width: auto !important;
  }
}
