.dialogActions {
  border-top: 1px solid #ccc;
}

.title {
  padding: 25px 25px 2px !important;
  border-bottom: 1px solid #ccc;
}

.content {
  padding: 10px 25px !important;
  display: flex;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  min-width: 600px;
  min-height: 200px;
  text-align: center;
}

